<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Mannat Themes">
  <meta name="keyword" content="">

  <title>SYNTRA | Responsive Web App Kit</title>

  <!-- Theme icon -->
  <link rel="shortcut icon" href="/Admin/images/favicon.ico">

  <link href="/Admin/plugins/morris-chart/morris.css" rel="stylesheet">
  <!-- Theme Css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href="/Admin/css/bootstrap.min.css" rel="stylesheet">
  <link href="/Admin/css/slidebars.min.css" rel="stylesheet">
  <link href="/Admin/css/icons.css" rel="stylesheet">
  <link href="/Admin/css/menu.css" rel="stylesheet" type="text/css">
  <link href="/Admin/css/style.css" rel="stylesheet">

     <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



   
</head>

<style>
  body {
    color: #333539;
    background: #303335;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
  }
</style>

<body class="sticky-header">
  <section>
    <!-- sidebar left start-->
    <div class="sidebar-left">
      <div class="sidebar-left-info">

        <div class="user-box">
          <div class="d-flex justify-content-center">
            <img src="/Admin/images/users/WhatsApp Image 2022-07-30 at 10.23.13 AM.jpeg" alt=""
              class="img-fluid rounded-circle">
          </div>
          <div class="text-center text-white mt-2">
            <h6>Amien Sajeed</h6>
            <p class="text-muted m-0">Admin</p>
          </div>
        </div>

        <!--sidebar nav start-->
        <ul class="side-navigation">
          <li>
            <!-- <h3 class="navigation-title">Navigation</h3> -->
          </li>
          <li class="active">
            <a href="index.html"><i class="mdi mdi-gauge"></i> <span>Dashboard</span></a>
          </li>
          <li class="menu-lists"><a href="/admin-sales"><i class="mdi mdi-buffer"></i> <span>Sales Report</span></a>
       
          </li>
          <li>
            <!-- <h3 class="navigation-title">Components</h3> -->
          </li>
          <li class="menu-lists"><a href="/admin-users"><i class="fa fa-user-circle"></i> <span>Users <span
                  class="badge badge-primary noti-arrow pull-right"></span> </span></a>
            {{!-- <ul class="child-list">
              <li><a href="/admin-users"> View Users </a></li>

            </ul> --}}
          </li>
          <li class="menu-list"><a href="/admin-products"><i class="mdi mdi-diamond"></i>
              <span>Products</span></a>
            <ul class="child-list">
              <li><a href="/admin-addproducts"> Add a Product </a></li>
              <li><a href="/admin-products"> View Products</a></li>
            </ul>
          </li>
          <li class="menu-lists"><a href="/admin-orders"><i class="mdi mdi-table"></i> <span>Orders </span></a>
        
          </li>
          <li class="menu-list"><a href="javascript:;"><i class="mdi mdi-table"></i> <span>Banner</span></a>
            <ul class="child-list">
              <li><a href="/admin-addbanner"> Add a Banner</a></li>
              <li><a href="/admin-banner"> View Banners</a></li>

            </ul>
          </li>
          <li class="menu-lists"><a href=""><i class="mdi mdi-google-earth"></i> <span> Offers & Coupons
              </span></a>
          
          </li>
          <li class="menu-list"><a href=""><i class="mdi mdi-chart-arc"></i> <span> Category</span></a>
            <ul class="child-list">
              <li><a href="/admin-category">Category Management</a></li>
         
            </ul>
          </li>
          <li class="menu-lists"><a href="/admin-login"><i class="mdi mdi-email" aria-hidden="true"></i><span>Log Out
              </span></a>
    
          </li>
        </ul>
        <!--sidebar nav end-->
      </div>
    </div><!-- sidebar left end-->

    <!-- body content start-->
    <div class="body-content bg-grey">
      <!-- header section start-->
      <div class="header-section">
        <!--logo and logo icon start-->
        <div class="logo bg-dark">
          <a href="index.html">
            <span class="logo-img ">
            </span>
            <!--<i class="fa fa-maxcdn"></i>-->
            <span class="brand-name">Harvest</span>
          </a>
        </div>

        <!--toggle button start-->
        <a class="toggle-btn"><i class="ti ti-menu"></i></a>
        <!--toggle button end-->

        <!--mega menu start-->
        <div id="navbar-collapse-1" class="navbar-collapse collapse mega-menu">

          <li>
            <form class="search-content" action="index.html" method="post">
              <input type="text" class="form-control mt-3" name="keyword" placeholder="Search...">
              <span class="search-button"><i class="ti ti-search"></i></span>
            </form>
          </li>
          </ul>
        </div>
        <!--mega menu end-->


      </div>
      <!-- header section end-->

<div class="container ">
  <div class="row">
  
<div class="chart  d-flex" >
<div >
  <canvas id="myChart" style="display: block;box-sizing: border-box;height: 356px;width: 363px;" ></canvas><br><br>
</div>

<div>
  <canvas id="myChart1" style="display: block;box-sizing: border-box;height: 358.4px;width: 688.6px;"></canvas>
</div>


</div>
  
  </div>
</div>




 
 

      <script>
  const labels = [
 

 '{{this.a}}',
 '{{this.b}}',
 '{{this.c}}'
   

  ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'Payment Methods',
      backgroundColor: ['red','blue', 'green'
      ],
      borderColor: 'black',


      data: [{{this.x}},{{this.y}},{{this.z}}]
    }]
  };

  const config = {
    type: 'doughnut',
    data: data,
    options: {}
  };
</script>

<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

{{!-- lineChart --}}



      <script>
  const labels1 = [
  {{#each year}}'{{_id}}',{{/each}}
   

  ];

  const data1 = {
    labels: labels1,
    datasets: [{
      label: 'Sales Report',
      backgroundColor: ['aqua','magenta', 'coral'
      ],
      borderColor: 'red',


      data: [{{#each year}}{{totalAmount}},{{/each}}]
    }]
  };

  const config1 = {
    type: 'line',
    data: data1,
    options: {}
  };
</script>

<script>
  const myChart1 = new Chart(
    document.getElementById('myChart1'),
    config1
  );
</script>


    {{!-- </div>
</div> --}}




      <!-- jQuery -->
      <script src="/javascripts/ajaxAdmin.js"></script>

      <script src="/Admin/js/jquery-3.2.1.min.js"></script>
      <script src="/Admin/js/popper.min.js"></script>
      <script src="/Admin/js/bootstrap.min.js"></script>
      <script src="/Admin/js/jquery-migrate.js"></script>
      <script src="/Admin/js/modernizr.min.js"></script>
      <script src="/Admin/js/jquery.slimscroll.min.js"></script>
      <script src="/Admin/js/slidebars.min.js"></script>

      <!--plugins js-->
      <script src="/Admin/plugins/counter/jquery.counterup.min.js"></script>
      <script src="/Admin/plugins/waypoints/jquery.waypoints.min.js"></script>
      <script src="/Admin/plugins/sparkline-chart/jquery.sparkline.min.js"></script>
      <script src="/Admin/pages/jquery.sparkline.init.js"></script>

      <script src="/Admin/plugins/chart-js/Chart.bundle.js"></script>
      <script src="/Admin/plugins/morris-chart/raphael-min.js"></script>
      <script src="/Admin/plugins/morris-chart/morris.js"></script>
      <script src="/Admin/pages/dashboard-init.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>


      <!--app js-->

      <script src="/Admin/js/jquery.app.js"></script>
      {{!-- <script>
        jQuery(document).ready(function ($) {
          $('.counter').counterUp({
            delay: 100,
            time: 1200
          });
        });
      </script> --}}

</body>

</html>